.boxContainer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  max-width: 100vw;
  margin-top: 3vh;
 }

 .loadDays { 
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  position: absolute;
  bottom: 1%;
  width: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 .previousDays { 
  display: flex; 
 }

 .previousDays button { 
  background: none;
 }

 .moreDays { 
    display: flex;
 }

 .arrowLoad {
  color: rgb(177, 177, 177);
  cursor: pointer;
 }

.card {
  background-color: hsl(0.0, 0.000%, 15.00%);
  border-radius: .4vw;
  justify-content: flex-start;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height:fit-content;
  border: solid 1px hsl(0.0, 0.000%, 20.00%);
}

.header {
  color: rgb(237, 237, 237);
  font-size: calc(4px + .5vw);
  text-align: center;
  margin-bottom: .1vh;
}

.header h1 {
  margin-bottom: 0;

}

.header p{
  margin-top: .1vh;
  font-weight: bold;
  color:  hsl(225, 9%, 64%);
}


.items-container {
  display: flex;
  flex-direction: column;
  min-width: 17.5vw;
}

.item-container {
  padding: 1px;
  background-color:hsl(0.0, 0.000%, 20.00%);
  border-radius: .2vw;
  width: 18vw;
  margin-top: .3vh;
  border-left: 3px solid green; 
  border-bottom-left-radius: .4vw;
}

.truck-header {
  display: flex;
  flex-direction: column;
  color: rgb(217, 217, 217);
  align-items: center;
}


.truckHeader-row1 {
  display: flex;
  width: 100%;
  border-bottom: 1px solid hsl(0.0, 0.000%, 27.00%);
  height: 3vh;
  align-items: center;
}

.truckHeader-row1 input{
  padding: 0;
  border: none;
  width: 100%;
  background: none;
  color: rgb(217, 217, 217);
  font-weight: bold;
  font-size: 1vmax;
  margin-left: .5vw;
  height: 2vh;
  align-items: center;
}


.truckHeader-row2 {
  margin-left: .5vw;
  display: flex;
  align-items: center;
  max-height: 6vh;
  width: 100%;
  margin-bottom: .1vh;
  margin-top: .1vh;
}

.truckHeader-row2 select {
  align-items: center;
  color: rgb(217, 217, 217);
  background: none;
  border: none;
  font-size: calc(4px + .5vw);
  margin-right: .5vw;
  outline: none;
}

.timeInput { 
  width: 4vw;
  margin-right: .5vw;
}

.timeInput input{
  background: none;
  width: 4vw;
  border: none;
  color: rgb(217, 217, 217);
  outline: none;
  font-size: calc(4px + .5vw);
  -webkit-appearance: none;
}

.trailer-type{
  margin: 0;
  padding-left: .5vw;
  padding-right: .5vw;
  border-left: 1px solid hsl(0.0, 0.000%, 27.00%);
  border-right: 1px solid hsl(0.0, 0.000%, 27.00%);
  font-size: calc(4px + .5vw);
}

.driver-name { 
  font-size: calc(4px + .5vw);
}

.truck-header:hover .button-delete {
  visibility: visible;
  transition: visibility 0.3s ease;
  transition-delay: .75s;
 }

 .button-delete {
  visibility: hidden;
  border-style: none;
  background: none;
  cursor: pointer;
 }
 
 
 .popup {
  display: none;
  opacity: 0;
  background-color: hsl(0.0, 0.000%, 15.00%);
  border-radius: .1vw;
  border: 1px solid hsl(0.0, 0.000%, 20.00%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1px;
  font-size: 2vh;
  color:rgb(217, 217, 217);
  position: absolute;
  min-width: fit-content;
  translate: 95% -30%;
}

.button-delete:hover + .popup {
  display: block;
  opacity: 1;
  transition-delay: 1s; 
  transition: opacity 0.3s ease;
  z-index: 1;
}


.drop-down {
  max-height: 0; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  width: 17.9vw;
}

.truck-header:hover .drop-down {
  max-height: 5vh; 
  transition: max-height .5s ease; 
  transition-delay: .75s;
}

.item-container:not(:hover) .drop-down {
  max-height: 0; 
}


.item-container:not(:hover) .drop-down {
  height: 0; 
}

.drop-down:hover{
  background-color:hsl(0.0, 0.000%, 25.00%);
  border-bottom-left-radius: .2vw;
  border-bottom-right-radius: .2vw;
}


.truck-body {
  position: relative;
}

.moreInfo-popup { 
  visibility: hidden;
  position: absolute;
  top: 5.5vh;
  right: 0vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 18vw;
  margin-top: 5px;
  background-color: hsl(0.0, 0.000%, 25.00%);
  border-radius: .3vw;
  padding-bottom: .5vh;
}

.moreInfo-popup p {
  margin-left: .5vw;
  background-color:  hsl(0.0, 0.000%, 18.00%);
  margin-right: .5vw;
  border-radius: .2vw;
  padding-top: .2vh;
  padding-bottom: .2vh;
  padding-left: .2vw;
  padding-right: .2vw;
  margin-bottom: .2vh;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
  min-height: 1vh;
  font-size: calc(4px + .5vw);
}

.moreInfo-popup h3 {
  margin-left: .5vw;
  margin-top: .5vh;
  font-size: 2vh;
}


.moreInfo:hover .moreInfo-popup {
  visibility: visible;
  transition-delay: .5s;
}


.truck-body1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1px;
  column-gap: 1px;
  background-color: hsl(0.0, 0.000%, 27.00%);
  border-top: 1px solid hsl(0.0, 0.000%, 27.00%);
  border-bottom: 1px solid hsl(0.0, 0.000%, 27.00%);
  color: rgb(197, 197, 197);
  margin: 0;
  font-size: 85%;
}

.moreInfo {
  background-color:hsl(0.0, 0.000%, 20.00%);
  display: flex;
  position: relative;
}

@media (max-width: 1000px) {
.truckbodyPhone p {
  font-size: 1vw;
}
}

@media (max-width: 1000px) {
.moreInfo p {
  font-size: 1.2vw;
}
}

.moreInfo:hover { 
  background-color:hsl(0.0, 0.000%, 23.00%);
}

.notes {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  max-height: 7vh;
  overflow: auto; 
  height: auto;
}

.notes textarea {
  padding-bottom: .2vh;
  padding-top: .1vh;
  background-color:  hsl(0.0, 0.000%, 18.00%);
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: .3vw;
  text-align: left;
  text-align: top;
  text-indent: .2vw; 
  color:  hsl(227, 8%, 66%);
  font-size: .8vmax;
  margin-left: .1vw;
  margin-right: .1vw;
  margin-bottom: .1vh;
  font-family: sans-serif, monospace;
  margin-top: 0;
  width: 97%;
  max-height: 2vh;
  resize: none;
}

.notes textarea:hover { 
  max-height: 15vh;
  transition: 2s ease;
  transition-delay: .2s;
}

.notes textarea:focus {
  outline: none;
  -webkit-appearance: none;
}



 @media (max-width: 600px) {
  .box-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
  }
  .card {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }
 }