:root {
  --border-radius-500: 8px;
  --color-on-background: #ffffff;
  --fonts-primary: Karla, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.wrapper-main{
  width: 100vw;
}

body {
  background-color: #232730;
  font-family: var(--fonts-primary);
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
}


.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  border-radius: 3px;
  margin: 1rem;
  width: 15vw;  
}

.header {
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  font-size: calc(4px + .5vw);
}


.items-container {
  text-align: center;
}

.item-container {
  padding: 5px;
}

.form{
  padding: 5px;
}

.box-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
 }
 

 @media (max-width: 600px) {
  .box-container {
    flex-direction: column;
  }
  .card {
    width: 30vw;
  }
 }
