.mainHeader {
  display: flex;
  font-size: 1.4vmax;
  border-bottom: solid 1px hsl(0.0, 0.000%, 20.00%);
  height: 10vh;
  align-items: center;
}

.headerLeft{
  display: flex;
  position: absolute;
  align-items: center;
  margin-left: 2vw;
}

.mainHeader img {
   height: 6vh;
}

.mainHeader h2 {
  font-weight: 400;
  color: rgb(217,217,217);
  font-size: 3vh;
  margin-left: 2vw;
}

.topbox {
  border: dashed 1px rgb(177, 177, 177);
  min-width: 9.5vw;
  max-width: 10vw;
  height: 7vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: .5vw;
  color: rgb(217, 217, 217);
  display: flex;
  justify-content: center;
  position: relative;
}

.topbox p { 
  position: absolute;
  z-index: -1;
  color: rgb(207, 207, 207);
  font-size: 2vh;
  align-self: center;
}

.topHeader {
  color: rgb(237, 237, 237);
  font-size: calc(4px + .5vw);
  text-align: center;
}

.topHeader h1 {
  margin-top: 0;
  margin-left: 0;
}

.top-item-container {
  background-color: hsl(0.0, 0.000%, 25.00%);
  border-radius: .4vw;
  margin-bottom: .2vh;
  border-bottom-left-radius: .4vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6.5vh;
  font-weight: 100;
  font-size: 2vh;
  width: 9.5vw;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: .25vh;
  margin-bottom: .25vh;
 }

 .top-item-header { 
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
 }

 .top-item-header button { 
  color: rgb(207, 207, 207);
  background: none;
  position: absolute;
  right: 3%;
  border: none;
  cursor: pointer;
 }

 .top-item-header h3 { 
  margin-left: .5vw;
  font-size: 2vh;
  font-weight: 500;
 }

 .top-popup {
  opacity: 0;
  translate: 345% 0%;
  background-color: hsl(222, 17%, 11%);
  border-radius: .1vw;
  border: 1px solid hsl(220, 16%, 18%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1px;
  font-size: 1.2vh;
  color:rgb(217, 217, 217);
  position: absolute;
  min-width: fit-content;
 }

 .top-item-button:hover + .top-popup {
  display: block;
  opacity: 1;
  transition-delay: 1s; 
  transition: opacity 0.3s ease;
  z-index: 1;
}

.mainHeader-right {
    display: flex;
    position: absolute;
    right: 3vw;
    font-size: calc(4px + .5vw);
    align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown:hover .options {
  display: block;
}

.settings {
  color: rgb(237, 237, 237);
  background: none;
  border: none;
  font-weight: bold;
  padding-left: 0;
}

.options { 
  margin-top: 1px;
  display: none;
  position: absolute;
  background-color:  hsl(0.0, 0.000%, 20.00%);
  min-width: 5vw;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .2vw;
}

.toggleComponent { 
  margin: .2rem;
  border-radius: .2vw;
}

.toggleComponent:hover { 
  background-color:  hsl(0.0, 0.000%, 27.00%);
}

.toggleComponent button {
  border: none;
  width: 100%;
  background: none;
  cursor: pointer;
  color: rgb(237, 237, 237);
}


.logout {
  cursor:pointer;
  padding: .75vh .75vw .75vh .75vw;
  border-radius: .5vw; 
  border: none;
  background-color: rgb(207, 207, 207);
  align-items: center;
}

.mytruck-link {
  align-items: center;
  cursor: pointer;
  margin-right: 1vw;
  border-radius: .5vw;
  border: none;
  background: none;
  text-decoration: none;
  font-weight: bold;
}
