.mainHeader {
  display: flex;
  font-size: 1.4vmax;
  border-bottom: solid 1px hsl(222, 15%, 23%);
  max-height: 10vh;
  align-items: center;
}

.mainHeader h1{
  margin-left: 2vw;
}

.mainHeader-right {
    display: flex;
    position: absolute;
    right:3vw;
    font-size: calc(4px + .5vw);
}

.logout {
  cursor:pointer;
  padding: .75vh .75vw .75vh .75vw;
  border-radius: .5vw; 
  border: none;
}

.mytruck-link {
  align-items: center;
  cursor: pointer;
  margin-right: 1vw;
  border-radius: .5vw;
  border: none;
  background: none;
}

