.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1 !important;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
} 


.page {
    position: relative;
    width: 100vw;
    font-family: var(--fonts-primary);
    font-size: 22px;
}

.page h1 {
    margin-bottom: 0vh;
    margin-top: 3vh;
    font-size: 50px;
    text-align: center;
}

.truckdata{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 60vw;
    margin: 0 auto;
    color: rgb(237, 237, 237); 
}

.links {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
    margin-bottom: 3vh;
}

.list{
    width: 75vw;
    margin: 0 auto;
    background-color: hsl(225, 10%, 24%);
    border-top-right-radius: .75vw;
    border-top-left-radius: .75vw;
}

.list-items{
    margin: 0 auto;
    background: none;
    text-align: center;
    width: 75vw;
    border-bottom: solid 1px hsl(225, 7%, 32%);
}

/*.list-items:nth-child(odd){ background-color:rgb(68, 68, 68); }*/

.add-button {
    padding: 6px;
    border-radius:1vw;
    border: none;
    margin-top: 1vh;
    margin-bottom: 2vh;
    background-color: rgb(124, 124, 124);
    cursor: pointer;
    font-size: 2vh;
}

.openBtn{
    position: relative;
    padding: .5rem;
    display: flex;
    margin: 0 auto;
    border-radius: 1vw;
    border: none;
    width: 8vw;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    position: relative;
    display: flex;
    height: 7vh;
    background: hsl(225, 10%, 24%);
    width: 75vw;
    margin: 0 auto;
    margin-bottom: 5vh;
    align-items: center;
}

.footer p {
    font-size: 2vh;
    position: absolute;
    right: 3vw;
}

