.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1 !important;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
} 


.page {
    position: relative;
    width: 100vw;
    font-family: var(--fonts-primary);
    font-size: 22px;
    color: rgb(217, 217, 217);
}



.links {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
    margin-bottom: 3vh;
    color: rgb(217, 217, 217);
}

.tableHeader {
    display: flex;
    height: 5vh;
    border-bottom: solid 1px hsl(225, 7%, 32%);
}

.selectAllBox { 
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

.columnValues { 
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 equal columns */
    grid-gap: 1vw;
    align-items: center;
    font-size: 2vh;
    margin: 0 auto;
    width: 65vw;
}

.columnValues h3 {
    margin: 0;
    font-weight: 75;
}

.aboveList {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1vh;
}

.aboveList-left { 
    display: flex;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    margin-left: 0;
}

.aboveList-left form {
    display: flex;
    align-items: center;
}

.aboveList-left label {
    font-size: 50%;
}

.listFilter { 
    display: flex;
    align-items: center;
    color: rgb(217, 217, 217);
}

.listFilter select {
    justify-content: center;
    background: none;
    border-radius: .2vw;
    border: 1px solid  hsl(225, 13%, 25%);
    max-width: 3vw;
    color: rgb(217, 217, 217);
}

.listFilter label { 
    margin-left: 1vw;
    margin-right: .5vw;
}

.listSearch {
    display: flex;
    align-items: center;
    font-size: 50%;

}

.listSearch:hover {
    color: rgb(82, 145, 240);
}

.listFilter-icon {
    display: flex;
    align-items: center;
    font-size: 50%;
}

.listFilter-icon:hover {
    color: rgb(82, 145, 240);
}

.list{
    width: 75vw;
    margin: 0 auto;
    background-color:  hsl(226, 12%, 21%);
    border-top-right-radius: .75vw;
    border-top-left-radius: .75vw;
}

.list-items{
    height: 10vh;
    display: flex;
    color: rgb(237, 237, 237); 
    background: none;
    text-align: center;
    justify-content: center;
    width: 75vw;
    border-bottom: solid 1px hsl(225, 7%, 32%);
}

/*.list-items:nth-child(odd){ background-color:rgb(68, 68, 68); }*/

.truckdata{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 equal columns */
    grid-gap: 1vw;
    width: 65vw;
    align-items: center;
    font-size: 2vh;
}

.checkBox { 
    margin-left: 2vw;
    display: flex;
    align-items: center;
    color: hsl(224, 7%, 33%);
}


.add-button {
    padding: 6px;
    border-radius:1vw;
    border: none;
    margin-top: 1vh;
    margin-bottom: 2vh;
    background-color: rgb(124, 124, 124);
    cursor: pointer;
}

.openBtn{
    padding: .5rem;
    border-radius: 1vw;
    border: none;
    width: 8vw;
    justify-content: center;
    cursor: pointer;
    min-width: fit-content; 
    background: none;
    color: rgb(217, 217, 217);
}

.openBtn:hover {
    background-color: hsl(228, 14%, 14%);
}

.footer {
    position: relative;
    display: flex;
    height: 7vh;
    background: hsl(225, 10%, 24%);
    width: 75vw;
    margin: 0 auto;
    margin-bottom: 5vh;
    align-items: center;
}

.footer p {
    font-size: 2vh;
    margin: 0 auto;
    cursor: pointer;
}

