.popupForm{
    max-width: 45vw;
    width: 70%;
    top: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    background-color:hsl(0.0, 0.000%, 15.00%);
    border-radius: .5vw;
    height: 1000px;
}

.formHeader {
    font-size: 2vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.form{
    color: rgb(207, 207, 207);
    padding-bottom: 6vh;
    min-width: 40vw;
    position: relative;
    height: inherit;
}

.closeBtn {
    position: absolute;
    top: 1%;
    right: 5%;
    cursor: pointer;
}

.driverInfo { 
    margin-left: 1vw;
    margin-bottom: 10px;;
    margin-top: 0;
    font-size: 2.5vh;
    font-weight: 600;
    color: rgb(207, 207, 207);
}

.formbody1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.formbody1 input{
    padding: 3vh;
    margin-bottom: 2vh;
    border-radius: .3vw;
    border: 1px solid  hsl(0.0, 0.000%, 10.00%);
    background: none;
    color: rgb(207, 207, 207);
    background-color:hsl(0.0, 0.000%, 13.00%);
}

.formbody1 ::placeholder{
    color: rgb(136, 136, 136);
}

.formbody2 {
    display: grid;
    grid-template-rows: 50px 50px;
    display: flex;
    gap: 15px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.formbody2 input { 
    padding: 3vh;
    margin-bottom: 2vh;
    border-radius: .3vw;
    border: 1px solid hsl(0.0, 0.000%, 10.00%);
    background: none;
    color: rgb(207, 207, 207);
    background-color:hsl(0.0, 0.000%, 13.00%);
    width: 100%;
}

.formbody3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.formbody3 input { 
    padding: 3vh;
    margin-bottom: 1vh;
    border-radius: .3vw;
    border: 1px solid  hsl(0.0, 0.000%, 10.00%);
    background: none;
    color: rgb(207, 207, 207);
    background-color:hsl(0.0, 0.000%, 13.00%);
}

.formbody4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.formbody4 p {
    font-size: 2.5vh;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(207, 207, 207);
}

.formbody4 textarea { 
    margin-bottom: 1vh;
    border-radius: .3vw;
    border: 1px solid  hsl(0.0, 0.000%, 10.00%);
    background: none;
    color: rgb(207, 207, 207);
    background-color:hsl(0.0, 0.000%, 13.00%);
    padding: 3vh;
}

.dateReady {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
    max-width: 40vw;
    
}

.dateReady input { 
    background-color: hsl(0.0, 0.000%, 13.00%);
    border-radius: .3vw;
    border: 1px solid  hsl(0.0, 0.000%, 10.00%);
    color: rgb(136, 136, 136);
    padding: 3vh;
    width: 100%;
    justify-content: center;
}

.dateReady input::-webkit-calendar-picker-indicator {
    position: relative;
    cursor: pointer;
    right: 5px;
    color: rgb(207, 207, 207);
  }

.trailerTypes { 
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.tType { 
    margin-left: 1vw;
}

.tType-header p { 
    margin: 0;
    font-size: 2.5vh;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(207, 207, 207);
}

.tType-options { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.tType-options label {
    font-size: 1.5vh;
    margin-left: 3vw;
    margin-right: .6vw;
}

.tType-options input {
    margin: 0;
    margin-right: 3vw;
    background-color: green;
}

.tType-Select { 
    margin-left: .5vw;
    background: none;
    border: none;
    color: rgb(207, 207, 207);
}

.endorsements { 
    margin-left: 1vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.endorsements p {
    margin: 0;
    font-size: 2.5vh;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(207, 207, 207);
}

.endorsements label { 
    margin-right: 3vw;
    margin-left: .6vw;
    font-size: 1.5vh;
}

.endorsements input {
    margin-left: 3vw;
}

.endorsementsFlex { 
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.buttonSubmit{
    padding: .5rem;
    display: flex;
    margin: 0 auto;
    border-radius: 1vw;
    border: none;
    width: 8vw;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    margin-top: 4vh;
}

.buttonSubmit:hover {
    background-color: rgb(237, 237, 237);
}



