

.popupForm{
    max-width: 45vw;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    background-color: hsl(227, 17%, 16%);
    border-radius: .5vw;
}

.form{
    color: rgb(207, 207, 207);
    padding-bottom: 6vh;
    display: column;
    justify-content: center;
    align-items: center;
}

.formHeader {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.closeBtn {
    position: absolute;
    top: 1%;
    right: 3%;
    cursor: pointer;
}


.tType {
    display: flex;
    gap: 1vw;
    width: 50%;
    padding: 1vh;
    color: rgb(136, 136, 136);
    width: 100%;
    align-items: center;
    height: 2vh;
    margin-left: 2vw;
}

.tType:hover + .tType select {
    border-bottom: 1px solid black;
}


.tType select {
    background: none;
    border: none;
    color: rgb(136, 136, 136);
}

.formbody1{
    display: flex; 
    margin: 2rem;
    margin-bottom: 2vh;
    justify-content: space-between;
    position: relative;
}

.formbody1 input{
    padding: 3vh;
    border-radius: 1vw;
    border: 1px solid  hsl(225, 13%, 25%);
    background: none;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 50%;
    color: rgb(207, 207, 207);

}

.formbody1 ::placeholder{
    color: rgb(136, 136, 136);
}

.formbody2{
    display: flex; 
    margin: 2rem;
    justify-content: space-between;
}

.formbody2 input{
    padding: 3vh;
    border-radius: 1vw;
    border: 1px solid  hsl(225, 13%, 25%);
    background: none;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 50%;
    color: rgb(207, 207, 207);

}

.formbody2 ::placeholder{
    color: rgb(136, 136, 136);
}

.formbody3{
    display: flex;
    margin: 2rem;   
}

.formbody3 ::placeholder{
    color: rgb(136, 136, 136);
}

.formbody3Left { 
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}


.formbody3Left input{
    padding: 3vh;
    border-radius: 1vw;
    border: 1px solid  hsl(225, 13%, 25%);
    background: none;
    font-weight: 100;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 100%;
    max-height: 2vh;
    margin-bottom: 4vh;
    color: rgb(207, 207, 207);
}

.formbody3Right {
    width: 50%;
    display: flex;  
    flex-wrap: wrap;
}
/* 
.dateReady input{
    align-items: center;
    padding: 3vh;
    padding-bottom: 2vh;
    border-radius: 1vw;
    border: 1px solid  hsl(225, 13%, 25%);
    background: none;
    font-weight: 100;
    margin-left: 2vw;

} */

.endorsements{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    color: rgb(136, 136, 136);
    margin-left: 2vw;
   
}

.endorsements input { 
    margin-bottom: 2vh;
    max-height: 2vh;
}

.endorsements input:focus + label {
    color: blue; /* New color when the input is focused */
}

.endorsements input:not(:focus) + label {
    color: rgb(136, 136, 136); /* Original color when the input is not focused */
}

.endorsements label {
    margin-left: 1vw;
    align-items: center;
}

/* input[type=checkbox]{
    border-radius: .2vw;
    border: 1px solid  hsl(225, 13%, 25%);
    -webkit-appearance: none;
    padding: .5vw;
    background: none;
    width: 1vw;
    justify-content: end;
    margin: 0;
    margin-right: 3vw;
} */



.truckNotes { 
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.buttonSubmit{
    padding: .5rem;
    display: flex;
    margin: 0 auto;
    border-radius: 1vw;
    border: none;
    width: 8vw;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(207, 207, 207);
}

.buttonSubmit:hover {
    background-color: rgb(237, 237, 237);
}

