.form{
    color: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 6vh;
}

.formHeader {
    display: flex;
    justify-content: center;
}

.formHeader p {
    position: absolute;
    top: 5%;
    right: 5%;
}

.openBtn{
  padding: 12px 24px;

}

.popupForm{
    max-width: 45vw;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    background-color: grey;
    border-radius: 3vw;
    border-bottom-left-radius: 3vw;
}

