.popupForm{
    max-width: 45vw;
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    background-color:hsl(0.0, 0.000%, 15.00%);
    border-radius: .5vw;
    overflow: auto;
}

.formHeader {
    font-size: 2vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.form{
    color: rgb(207, 207, 207);
    padding-bottom: 6vh;
    min-width: 40vw;
}

.closeBtn {
    position: absolute;
    top: 1%;
    right: 5%;
    cursor: pointer;
}

.driverInfo { 
    margin-left: 1vw;
    margin-bottom: 10px;;
    margin-top: 0;
    font-size: 1vw;
    font-weight: 600;
    color: rgb(207, 207, 207);
}

.formbody1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.formbody1 input{
    padding: 3vh;
    margin-bottom: 2vh;
    border-radius: .3vw;
    border: 1px solid  hsl(0.0, 0.000%, 10.00%);
    background: none;
    color: rgb(207, 207, 207);
    background-color:hsl(0.0, 0.000%, 13.00%);
}

.formbody1 ::placeholder{
    color: rgb(136, 136, 136);
}

.formbody2 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.formbody2 input { 
    padding: 3vh;
    margin-bottom: 2vh;
    border-radius: .3vw;
    border: 1px solid hsl(0.0, 0.000%, 10.00%);
    background: none;
    color: rgb(207, 207, 207);
    background-color:hsl(0.0, 0.000%, 13.00%);
}

.formbody3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.formbody3 input { 
    padding: 3vh;
    margin-bottom: 1vh;
    border-radius: .3vw;
    border: 1px solid  hsl(0.0, 0.000%, 10.00%);
    background: none;
    color: rgb(207, 207, 207);
    background-color:hsl(0.0, 0.000%, 13.00%);
}

.formbody4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.formbody4 p {
    font-size: 1vw;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(207, 207, 207);
}

.formbody4 textarea { 
    margin-bottom: 1vh;
    border-radius: .3vw;
    border: 1px solid  hsl(0.0, 0.000%, 10.00%);
    background: none;
    color: rgb(207, 207, 207);
    background-color:hsl(0.0, 0.000%, 13.00%);
    height: 10vh;
}

.trailerTypes { 
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.tType-Select { 
    margin-left: .5vw;
    background: none;
    border: none;
    color: rgb(207, 207, 207);
}

.buttonSubmit{
    padding: .5rem;
    display: flex;
    margin: 0 auto;
    border-radius: 1vw;
    border: none;
    width: 8vw;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    margin-top: 4vh;
}

.buttonSubmit:hover {
    background-color: rgb(237, 237, 237);
}



