.topbox {
    width: 20vw;
    padding: 3vh;
    background-color: hsl(227, 17%, 16%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5vh !important;
    margin: auto;
    border-radius: .5vw;
    margin-bottom: 3vh;
    color: rgb(217,21 7,217);
    align-items: center;
    justify-content: center;
   }

   .top-item-container {
    padding: 1px;
    background-color:  hsl(226, 12%, 21%);
    border-radius: .2vw;
    width: 100%;
    margin-bottom: .2vh;
    border-left: 3px solid green;
    border-bottom-left-radius: .4vw;
   }